@model OgrenciIsleri.ViewModel.DersVM
@{
    ViewBag.Title = "Create";
}
<div class="col-lg-12">
    <h2>Create</h2>
    <div class="container">
        @using (Html.BeginForm("Create", "Ders", FormMethod.Post))
        {
            @Html.ValidationSummary()

            <div class="text-danger">
                @Html.ValidationMessageFor(x => x.Dersler.DersAdı)
                @Html.ValidationMessageFor(x => x.Dersler.BolumID)
                @Html.ValidationMessageFor(x => x.Dersler.OgretmenID)
            </div>
            <div class="form-group">
                @Html.TextBoxFor(x => x.Dersler.DersAdı, new { @class = "form-control", placeholder = "Ders adı giriniz." })
            </div>
            <div class="form-group">
                @Html.DropDownListFor(x => x.Dersler.BolumID, new SelectList(Model.Bolumler, "ID", "BolumAd"), new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.DropDownListFor(x => x.Dersler.OgretmenID, new SelectList(Model.Ogretmenler, "ID", "Adsoyad"), new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-success">Kaydet</button>

            @Html.HiddenFor(x => x.Dersler.ID)
        }

    </div>
</div>

