@model List<OgrenciIsleri.Models.Ogretmenler>
@{
    ViewBag.Title = "List";
}
<div class="col-lg-12">

    <div class="container">
        <h2>Öğretmen Listesi</h2>
        <div class="nav navbar navbar-right">
            <ul style="list-style:none">
                <li>@Html.ActionLink("Yeni Öğretmen", "Create", "Ogretmenler", new { @class = "btn btn-primary" })</li>
            </ul>
        </div>
        <table class="table table-bordered table-hover table-responsive" id="tblOgretmen">
            <thead>
                <tr class="active">
                    <th>Foto</th>
                    <th>Ad ve Soyad</th>
                    <th>Bölüm</th>
                    <th>Cinsiyet</th>
                    <th>Telefon</th>
                    <th>Güncelle</th>
                    <th>Detay</th>
                    <th>Sil</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><img src="@item.Fotograf" width="45" /></td>
                        <td>@item.Adsoyad</td>
                        <td>@item.Bolumler.BolumAd</td>
                        <td>@item.Cinsiyetler.Cinsiyet</td>
                        <td>+90(@item.Tel)</td>
                        <td>@Html.ActionLink("Güncelle", "Edit", "Ogretmenler", new { id = item.ID }, new { @class = "btn" })</td>
                        <td>@Ajax.ActionLink("Detay", "Detail", "Ogretmenler", new { id = item.ID }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "ogretmenDetay" }, new { @class = "btn" })</td>
                        <td><a class="btn btnDelete" data-id="@item.ID" id="btnDel">Sil</a></td>
                    </tr>
                }
            </tbody>
        </table>
        
    </div>
</div>
<div id="ogretmenDetay">

</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#tblOgretmen").on("click", ".btnDelete", function () {
            var btn = $(this);
            var id = btn.data("id");
            $.ajax({
                url: "/Ogretmenler/Delete/" + id,
                type: "POST",
                success: function () {
                    btn.parent().parent().remove();
                    alert("Silme başarılı");
                },
                error: function (veri) {
                    alert(veri + "\n Silme işlemi başarısız.");
                }
            })
        });
    });
</script>

